Pillow
streamlit
#psycopg2
numpy
psycopg2-binary
SQLAlchemy
pandas 
boto3
streamlit-antd-components
tensorflow
llama-index
llama-index-vector-stores-postgres
llama-index-llms-openai-like
llama-index-embeddings-openai-like
